@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    -webkit-font-smoothing: antialiased;
    color: #191c20;
    background: #ffffff;
  }
}
